<main>
  <section>
    <h2 class="titleh2">Edit your profile</h2>
    <h3></h3>
    <h3></h3>
    <form action="/edit-profile" method="POST">
      <input id="name" name="name" type="text" placeholder="name" />
      <input id="profilepic" name="profilepic" placeholder="your picture here" type="url" />
      <input id="species" name="species" type="text" placeholder="species" />
      <select id="cns" name="cns">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <input id="legs" name="legs" type="number" placeholder="legs" />
      <input id="interests" name="interests" type="text" placeholder="interests" />

      <button type="submit" name="button" value="save">Save</button>
      </form>
      <form action="/sign-out" method="POST">
      <button type="submit" name="button" value="signOut">Sign Out</button>
    </form>
  </section>
</main>
