<section>
    <h2 class = "titleh2">Sign Up</h2>
    <form action="/sign-up" method="POST">
      <input id="email" name="email" type="email" placeholder="email"/>
      <input id="password" name="password" type="password" placeholder="password" />
      <input id="confirmPassword" name="confirmPassword" type="password" placeholder="confirm password"/>
      <button type="submit" id="submit">Login</button>
    </form>
  </section>
  <script src="signUpFormScript"></script>
