<section class="form">
    <h2 class = "titleh2">Sign In</h2>
    <form action="/sign_in" method="POST">
      <input id="email" name="email" type="email" placeholder="email"/>
      <input id="password" name="password" type="password" placeholder="password"/>
      <button type="submit">Login</button>
    </form>
  </section>
  <section class="sign">
    <h2>Don't have an account yet?</h2>
     <a href="/sign-up"><button>Click to Sign Up!</button></a>
  </section>
