<section class="singlesSection">
    <ul>
        {{#each singles}}
        <li>
            <img src="{{this.image_url}}" alt="profile picture for {{this.name}}">
            <a href="/profile/{{this.user_id}}">
                <h3>{{this.name}}</h3>
            </a>
        </li>
        {{/each}}
    </ul>
</section>