<nav>
    <a class="navItem" href="/singles">Singles</a>
    <a class="navItem" href="/edit-profile">My Profile</a>
    <form action="/sign-out" method="POST">
        <button class="navItem" type="submit" name="button" value="signOut">Sign Out</button>
    </form>
</nav>